body {
  margin: 0;
  font-family: Poppins , Arial; /* Arial is the backup font */
}

p {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background-color: rgb(230, 230, 230);
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 5px 20px;
  gap: 10px;
  flex-wrap: nowrap;
  z-index: 1;
  border-bottom: 3px solid rgb(160, 30, 30);
}

nav .left-side {
  flex: 1;
  display: flex;
  align-items: center;
}

nav .home-styling {
  font-size: 28px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

nav .right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 600px;
  position: relative;
}

nav .hamburger-button {
  display: none;
  cursor: pointer;
  border: none;
  z-index: 10;
  background-color: white;
}

nav .hamburger-button.active {
  background-color: white;
}

@media (max-width: 1100px) {
  nav .home-styling {
    font-size: 22px;
  }
  
  nav .right-side {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
  }

  nav .right-side.show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  nav .right-side, nav .link-container {
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
  }

  nav .right-side, nav .link-container, nav .resource-link-container {
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
  }

  nav .hamburger-button {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 1s;
  }

  nav .hamburger-button:hover {
    background-color: rgb(170, 170, 170);
  }

  nav .drop-down-menu {
    width: 100%;
  }

  nav .drop-down-item-calc, nav .drop-down-item-down {
    width: 100%;
    font-size: 15px;
  }
}

nav .main-link {
  text-decoration: none;
  color: rgb(160, 30, 30);
  font-size: 20px;
  transition: color .15s;
}

nav .drop-down-menu {
  background-color:rgb(230, 230, 230);
  position: absolute;
  padding: 5px 5px;
  top: 100%;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-shrink: 0;
}

nav .resource-link-container:hover .drop-down-menu {
  display: flex;
}

nav .resource-link-container .arrow {
  display: inline-block;
  transition: transform .3s;
}

nav .resource-link-container:hover .arrow {
  transform: rotate(180deg);
}

nav .drop-down-item-calc .main-link, 
nav .drop-down-item-down .main-link {
  font-size: 15px;
}

nav .current-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav .main-link:hover, 
.resource-link:hover{
  color: rgb(100, 100, 100);
}

section {
  padding-top: 75px;
  padding-bottom: 270px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.page-section {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
}

.templates-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
  row-gap: 30px;
}

.download-preview {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.download-button {
  background-color: rgb(160, 30, 30);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color .3s;
}

.download-button:hover {
  background-color: rgba(160, 30, 30, .7);
}

footer {
  position: relative;
  margin-top: -250px;
  clear: both;
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0 ,0, 0, .3)), url("nav-bar-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  padding: 20px;
  display: flex;
  gap: 50px;
  border-top: 3px solid rgb(160, 30, 30);
}

.whole-footer {
  display: flex;
  justify-content: start;
  flex: .5;
}

@media (max-width: 800px) {
  .logo-container {
    width: 200px;
  }

  footer {
    flex-direction: column;
    gap: 10px;
  }

  .whole-footer {
    justify-content: space-between;
    gap: 20px;
  }
}

@media (min-width: 801px) {
  .logo-container {
    width: 300px;
    justify-content: center;
  }

  .whole-footer {
    flex: .4;
    justify-content: space-between;
    gap: 40px
  }
}

.footer-headings {
  font-size: 22px;
  font-weight: 700;
  color: white;
  background-color:rgba(0, 0, 0, .4);
  padding-left: 2.5px;
  padding-right: 2.5px;
  border-radius: 5px;
}

.directory-links {
  height: 25px;
}

.footer-links {
  text-decoration: none;
  color: white;
  font-size: 12px;
  background-color:rgba(0, 0, 0, .4);
  padding: 2.5px;
  border-radius: 5px;
  transition: background-color .3s;
}

.footer-links:hover {
  background-color:rgba(0, 0, 0, .8);
}

.icon-container {
  width: 50px;
  height: 50px;
  transition: opacity .3s
}

.icon-container:hover, .partner:hover {
  opacity: .7;
} 

.icons {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.partners-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-top: 5px;
}

.partner {
  width: 100%;
  height: 100%;
  transition: opacity .3s;
}

.right-footer {
  display: flex;
  align-items: center;
  flex: .5;
  justify-content: center;
}

.the-financial-ascent {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid white;
}